<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link href="{% static 'css/app.ce81816b.css' %}" rel="stylesheet">
    <link href="{% static 'css/chunk-vendors.69021692.css' %}" rel="stylesheet">
{#    <link href="{% static 'fonts/materialdesignicons-webfont.714a4eee.ttf' %}" rel="stylesheet">#}
{#    <link href="{% static 'fonts/materialdesignicons-webfont.e659bf56.woff' %}" rel="stylesheet">#}
{#    <link href="{% static 'fonts/materialdesignicons-webfont.0766edc9.eot' %}" rel="stylesheet">#}
{#    <link href="{% static 'fonts/materialdesignicons-webfont.fbaef2a9.woff2' %}" rel="stylesheet">#}


    <title>DataBaseInit</title>
    <script defer="defer" src="{% static 'js/chunk-vendors.b69e0dd8.js'%}"></script>
    <script defer="defer" src="{% static 'js/app.00102ece.js'%}"></script>
    <script defer="defer" src="{% static 'js/371.83f3656a.js'%}"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>